<template>
    <div class="rate-plan">
        <h1 class="header1 text-danger">План расходов гранта на поддержку начинающего фермера<span
                id="number_of_request"></span></h1>
        <table class="table">
            <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Приобретаемые имущества/выполняемые работы/оказываемые услуги</th>
                <th scope="col">Количество, единиц</th>
                <th scope="col">Цена за 1ед.(Руб)</th>
                <th scope="col">Итого затрат (Руб.)</th>
                <th scope="col">Размер средств из гранта</th>
                <th scope="col">Итого затрат, руб. Размер собственных средств</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="row in cols">
                <th scope="row">{{getTitle(row.typeId)}}</th>
                <td><textarea placeholder="Введите описание" class='tinput' type="text" v-model="row.first"/></td>
                <td><input type="number" class='tinput'  v-model="row.qty"></td>
                <td><input type="number" class='tinput'  v-model="row.pricePerOne"></td>
                <td>{{sum(row)}}</td>
                <td><input type="number" class='tinput'  v-model="row.fromGrant"></td>
                <td>{{overall(row)}}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Итого:</td>

                <td>{{sumOverall}}</td>

            </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./rate-plan.ts" lang="ts">
</script>

<style scoped>
    .tinput {
        width: 100%;
        box-sizing: border-box;;
    }

</style>