<template>
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="px-5 col-md-8 text-center mx-auto">
          <h3 class="text-primary display-4 d-flex justify-content-center"> <b>Hackathon2019</b></h3>
          <h2 class="my-3">Проверьте предварительную возможность получения гранта на ферму</h2>
          <p class="mb-3">Вход осуществляется через портал Госуслуг (ЕСИА)</p> <a @click="createUser" class="btn btn-info">Авторизоваться!</a>
          <p class="mt-2"><span style="font-size: 12.8px;">Нажимая на кнопку "Авторизоваться", вы подверждаете согласие с Политикой обработки персональных данных</span></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./home.ts" lang="ts">
</script>

<style scoped>

</style>