<template>
    <div class="common_info" v-if="form && form.documents.passport">
        <div class="row">
            <div class="col-md-4">
                <v-text-field
                        v-model="form.last_name"
                        label="Фамилия"
                ></v-text-field>

            </div>
            <div class="col-md-4">
                <v-text-field
                        v-model="form.first_name"
                        label="Имя"
                ></v-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <v-text-field
                        v-model="form.middle_name"
                        label="Отчество">
                </v-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <v-text-field
                        v-model="form.inn"
                        label="ИНН">
                </v-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <v-text-field
                        v-model="form.documents.passport.document_data.series"
                        label="Серия паспорта"
                ></v-text-field>

            </div>
            <div class="col-md-4">
                <v-text-field
                        v-model="form.documents.passport.document_data.number"
                        label="Номер паспорта"
                ></v-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <v-text-field
                        v-model="form.documents.passport.document_data.vydan"
                        label="Кем выдан"
                ></v-text-field>

            </div>
            <div class="col-md-4">
                <v-text-field
                        v-model="form.documents.passport.document_data.vydan_date"
                        label="Номер паспорта"
                ></v-text-field>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <v-text-field
                        v-model="form.documents.passport.document_data.address_reg"
                        label="Адрес регистрации"
                ></v-text-field>

            </div>
            <div class="col-md-4">
                <v-text-field
                        v-model="form.documents.passport.document_data.address_fact"
                        label="Адрес места проживания"
                ></v-text-field>
            </div>
        </div>
        <b-button size="sm" @click="save">Сохранить</b-button>

    </div>
</template>

<script src="./common_info.ts" lang="ts">
</script>

<style scoped>
    .common_info {
        margin-top: 50px;
    }
</style>