<template>
    <div class="tabs">
        <div class="tab__tabs">
            <button
                    v-for="tab in tabs"
                    :key="tab.id"
                    class="tab__tabs__tab"
                    :class="[{ tab_active: tab.selected }]"
                    @click="$emit('select-tab', tab.id)"
            >
                {{ tab.title }}
            </button>
        </div>
    </div>

</template>

<script lang="ts" src="./tabs.ts">
</script>

<style scoped>
.tab {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.tab__title {
  color: #0a2756;
  font-size: 20px;
  font-family: "CoHeadline", "Helvetica", "Arial", sans-serif;
  padding-bottom: 10px;
}

.tab__tabs__tab {
  display: inline-block;
  padding: 0;
  border: none;
  font-style: normal;
  cursor: pointer;
  color: #0A2756;
  border-bottom: 3px solid transparent;
  cursor: pointer;
  line-height: 37px;
  height: 37px;
  background-color: transparent;
  font-size: 13px;
  font-weight: 400;
}

.tab__tabs__tab:not(:last-child) {
  margin-right: 31px;
}

.tab__tabs__tab:hover {
  border-bottom: 3px solid #0A2756;
}

.tab_active {
  border-bottom: 3px solid #0A2756;
}

.grayed {
  color: #a6a7a8;
  font-weight: 400;

}

</style>