<template>
    <div class="cabinet row">

        <div class="col-md-4">
            <side-bar
                    :selectedMainItem="page"
                    :selectedSubItem="subPage"
            ></side-bar>
        </div>
        <div class="col-md-8">
            <component :is="pageComponent" :pageData="pageData" @on-save="onSave"></component>
        </div>
    </div>
</template>

<script lang="ts" src="./cabinet.ts">
</script>

<style scoped>

</style>