<template>
    <div class="sidebar">
        <div v-for="item in items" class="sidebar__item">
            <div class="sidebar__item__title" @click="goTo(item.id)">
                <span class="sidebar__item__title__text"
                      :class="{active: item.id ===selectedMainItem}"
                >{{item.title}}</span>
                <span class="sidebar__item__title__after"
                      v-if="item.items"
                      @click="item.expanded = !item.expanded">
                    </span>
            </div>

            <div v-if="item.items && item.expanded" class="sidebar__item__subitems">

                <div v-for="subitem in item.items"
                     @click="goTo(item.id, subitem.id)"
                     :class="{active: item.id ===selectedMainItem && subitem.id ===selectedSubItem}"
                     class="subitem">{{subitem.title}}
                </div>
            </div>
        </div>
    </div>
</template>

<script src="./sidebar.ts" lang="ts">
</script>

<style scoped>
    .sidebar {
        padding: 30px;
        font-size: medium;
    }

    .active {
        color: #0026ef;
        text-transform: full-width;
    }

    .sidebar__item {
        padding: 5px;
        margin-bottom: 10px;
    }

    .sidebar__item__title {
        height: 27px;
    }

    .sidebar__item__title__text {
        margin-right: 5px;
    }

    .sidebar__item__subitems {
        padding-left: 10px;
    }

</style>