<template>
    <div class="login">

        <v-form
                v-if="!!form"
                ref="form"
                v-model="valid"
                @submit.prevent="submit"
        >
            <v-text-field
                    v-model="form.email"
                    :rules="emailRules"
                    label="E-mail"
                    required
            ></v-text-field>
            <v-text-field
                    v-model="form.password"
                    :type="'password'"
                    name="input-10-1"
                    label="Пароль"
                    hint="At least 8 characters"
            ></v-text-field>
            <v-btn @click="submit">test</v-btn>
        </v-form>

    </div>
</template>

<script src="./login.ts" lang="ts">
</script>

<style scoped>

</style>