<template>
    <div class="col-md-10">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">№ п/п</th>
                <th scope="col">Номер в реестре</th>
                <th scope="col">Дата и время оформления</th>
                <th scope="col">Статус</th>
                <th scope="col">Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>№56134</td>
                <td>06.06.2019 23:37</td>
                <td>Черновик</td>
                <td><a href="#edit">
                    <button class="btn-primary">Редактировать</button>
                </a> <a href="#delete">
                    <button class="btn-danger">Удалить</button>
                </a></td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>№56138</td>
                <td>07.06.2019 14:48</td>
                <td>Ожидает проверки</td>
                <td><a href='#open'>
                    <button class="btn-secondary">Открыть<br>(только для чтения)</button>
                </a></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>№56115</td>
                <td>07.06.2019 16:00</td>
                <td>Принят</td>
                <td><a href='#open'>
                    <button class="btn-secondary">Открыть<br>(только для чтения)</button>
                </a></td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>№56116</td>
                <td>07.06.2019 16:00</td>
                <td>Принят</td>
                <td><a href='#open'>
                    <button class="btn-secondary">Открыть<br>(только для чтения)</button>
                </a></td>
            </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./request_history.ts" lang="ts">
</script>

<style scoped>

</style>