<template>
    <div class="admin">
        <div class="cabinet ">
            <div class="row">
                <div class="col-md-4">
                    <h3>Поданные заявки</h3>
                    <UserList :users="notUser"></UserList>
                </div>
                <div class="col-md-4">
                    <h3>В обработке</h3>
                    <UserList :users="invalidUsers"></UserList>
                </div>
                <div class="col-md-4">
                    <h3>Принятые заявки</h3>
                    <UserList :users="validUsers"></UserList>
                </div>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./admin.ts">
</script>

<style scoped>
.admin {
    padding: 30px;
}
</style>