<template>
    <div class="user-list">
        <div class="user-item" v-for="user in users">
            <b-card>
                <div class="t" @click="expand(user.id)">
                    <h4>{{userTitle(user)}}</h4>
                </div>
                <div class="user-item" v-if="!!expandedIds[user.id]">
                    <div v-for="prop in userProps" class="row">
                        <div class="col-md-5">{{propName(prop)}}</div>
                        <div class="col-md-7">{{getProp(user, prop)}}</div>
                    </div>

                    <b-button class="sss"  variant="success">Принять</b-button>
                    <b-button class="sss" variant="danger">Отклонить</b-button>
                </div>


            </b-card>
        </div>

    </div>
</template>

<script lang="ts" src="./user-list.ts">
</script>

<style scoped>
.sss {
    margin-top: 5px;
    margin-right: 3px;
}
</style>