<template>
  <div class="py-5" >
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h1 class="col-12 align-center text-uppercase">Проверьте предварительную возможность получения гранта на ферму</h1>
          <p class="mb-3">Вход осуществляется через портал Госуслуг (ЕСИА)</p> <a @click="createUser" class="btn btn-info text-uppercase text-light">Проверить</a>
          <p class="mt-2 text-secondary"><span style="font-size: 12.8px;">Нажимая на кнопку "Проверить", вы подверждаете согласие с <a href="#">Политикой обработки персональных данных</a></span></p>
        </div>
      </div>
    </div>
  </div>
</template>

<script src="./home.ts" lang="ts">
</script>

<style scoped>

</style>

