<template>
    <div id="app">
        <Header></Header>
        <main class="main">
            <router-view/>
        </main>
    </div>
</template>
<script lang="ts" src="./app.ts">
</script>
<style>
    body {
        padding: 0;
        margin: 0;
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
    }

    button {
        background-color: transparent;
    }

    * {
        box-sizing: border-box;
        outline: none;
    }

    .main {
        padding-top: 73px;
        min-height: calc(100vh - 67px);
    }
</style>
